*.log
*.pid
*.seed
*.pid.lock
*.tsbuildinfo

/*.d.ts
/*.js
/*.js.map

/base
/form
/blog-page
/dash
/info-page
/page
/post-page
/section
/social-page
/utils
/components
/typography
/storybook-static
/public

logs
pids
node_modules
jspm_packages

.npm
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json