@media (min-width: 1600px) {
  html {
    font-size: 125%;
  }
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("./roboto-latin-100.woff2") format("woff2"),
    url("./roboto-latin-100.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: local("Roboto Thin italic"), local("Roboto-Thinitalic"),
    url("./roboto-latin-100italic.woff2") format("woff2"),
    url("./roboto-latin-100italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("./roboto-latin-300.woff2") format("woff2"),
    url("./roboto-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: local("Roboto Light italic"), local("Roboto-Lightitalic"),
    url("./roboto-latin-300italic.woff2") format("woff2"),
    url("./roboto-latin-300italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("./roboto-latin-400.woff2") format("woff2"),
    url("./roboto-latin-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local("Roboto Regular italic"), local("Roboto-Regularitalic"),
    url("./roboto-latin-400italic.woff2") format("woff2"),
    url("./roboto-latin-400italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("./roboto-latin-500.woff2") format("woff2"),
    url("./roboto-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: local("Roboto Medium italic"), local("Roboto-Mediumitalic"),
    url("./roboto-latin-500italic.woff2") format("woff2"),
    url("./roboto-latin-500italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Roboto Bold "), local("Roboto-Bold"),
    url("./roboto-latin-700.woff2") format("woff2"),
    url("./roboto-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local("Roboto Bold italic"), local("Roboto-Bolditalic"),
    url("./roboto-latin-700italic.woff2") format("woff2"),
    url("./roboto-latin-700italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    url("./roboto-latin-900.woff2") format("woff2"),
    url("./roboto-latin-900.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: local("Roboto Black italic"), local("Roboto-Blackitalic"),
    url("./roboto-latin-900italic.woff2") format("woff2"),
    url("./roboto-latin-900italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local("Roboto Slab Thin"), local("Roboto Slab-Thin"),
    url("./roboto-slab-latin-100.woff2") format("woff2"),
    url("./roboto-slab-latin-100.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local("Roboto Slab Extra Light"), local("Roboto Slab-Extra Light"),
    url("./roboto-slab-latin-200.woff2") format("woff2"),
    url("./roboto-slab-latin-200.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Roboto Slab Light"), local("Roboto Slab-Light"),
    url("./roboto-slab-latin-300.woff2") format("woff2"),
    url("./roboto-slab-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("Roboto Slab-Regular"),
    url("./roboto-slab-latin-400.woff2") format("woff2"),
    url("./roboto-slab-latin-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Roboto Slab Medium"), local("Roboto Slab-Medium"),
    url("./roboto-slab-latin-500.woff2") format("woff2"),
    url("./roboto-slab-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Roboto Slab SemiBold "), local("Roboto Slab-SemiBold"),
    url("./roboto-slab-latin-600.woff2") format("woff2"),
    url("./roboto-slab-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("Roboto Slab-Bold"),
    url("./roboto-slab-latin-700.woff2") format("woff2"),
    url("./roboto-slab-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local("Roboto Slab ExtraBold"), local("Roboto Slab-ExtraBold"),
    url("./roboto-slab-latin-800.woff2") format("woff2"),
    url("./roboto-slab-latin-800.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("Roboto Slab Black"), local("Roboto Slab-Black"),
    url("./roboto-slab-latin-900.woff2") format("woff2"),
    url("./roboto-slab-latin-900.woff") format("woff");
}
